@charset "UTF-8";

/** Charisma Override. */
body {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 15px;
}

#footer {
    padding: 50px 0;
    color: #7f7f7f;
}

/** リンク全てのhoverスタイル. 強制してるのが辛い. */
a:hover {
    background: rgba(0,0,0,0.2) !important;
    text-decoration: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.sidebar-nav {
    box-shadow: none;
    background-color: #F8f8f8;
}

.navbar {
    margin-bottom: 2px;
}

ul.main-menu li:hover {
    margin-left: 0;
}

.main-menu > li > a {
    border: none;
}

.main-menu .edit-profile {
	width: 100%;
	padding: 5px 0 !important;
	background: rgba(0,0,0,0.6);
	position: absolute !important;
	bottom: 0;
	left: 0;
	display: block  !important;
	color: #fff;
	text-align: center;
	text-decoration: none;
	transition: 0.2s;
}

.main-menu .edit-profile:hover {
	background: rgba(0,0,0,0.8);
}

.main-menu .btn {
    margin: 0.5em;
}

.main-menu > li > p {
    margin: 0.5em 1em;
}

.sidebar-nav .nav-header {
    display: block;
    padding: 0.5em 1em;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #666;
    background: rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    border: 1px solid rgba(221, 221, 221, 0.46);
}

#sidebar img,
#rightbar img {
    width: 100%;
}

#rightbar {
    background-color: #F2F2F2;
}

#sidebar {
    padding-left: 15px;
    padding-right: 15px;
}

/** PCのみのmedia */
@media only screen and (min-width: 980px) {
    #sidebar {
        padding: 0;
    }
/*
    .main-menu > li > a {
        color: #00b8a9;
        font-weight: 500;
    }
*/

}

.navbar-brand img {
    height: 100%;
    width: 100%;
}

/** */
#fh5co-header {
    background: #D7003A;
}
#fh5co-header .navbar-default {
    border: transparent;
    background: transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}
#fh5co-header .navbar-brand {
    width: auto;
}

/** Mobile用 */
@media screen and (max-width: 767px) {
    #fh5co-header .navbar-brand .inner {
        display: block;
    }
    .main-menu > li > p {
        color: white;
    }
}
.navbar-brand .inner {
    display: inline;
}
.navbar-brand {
    padding: 15px 5px;
    height: 65px;
}
.navbar-inner .btn-group {
    margin: 15px 5px 0 5px;
}

/** Custom end */

/** 独自 */
ul.information-list {
    margin-top: 1em;
    list-style: none;
    padding-left: 0px;
}

ul.information-list li {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 3em;
    border-bottom: 1px solid #D1D5E5;
}

ul.information-list li.unread {
    background-color: #FFF8FF;
}


ul.information-list .info-detail {
    cursor: pointer;
}

ul.information-list li > div {
    display: inline-block;
}

ul.information-list .info-content {
    display: block;
}

ul.information-list li > div:first-child {
    width: 10em;
}

/** 個別スタイル */
#loading {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #f7f7f9;
    filter: alpha(opacity=65);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    background-image: url('/images/ajax-loaders/ajax-loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 新着コミュニティ */
#latest-community {
    list-style: none;
    padding: 0;
}
#latest-community li {
    margin: 1em;
}
#latest-community li a {
    width: 100%;
    min-height: 180px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    box-sizing: border-box;
    z-index: 2;
    display: block;
    transition: 0.2s;
    text-decoration: none;
    opacity: 1;
    color: #FFF;
}
#latest-community li a:hover {
    opacity: 0;
}
#latest-community li a p {
    text-align: left;
}

/* TOPのコミュニティ */
ul.top-community {
    margin-top: 1em;
    list-style: none;
}

ul.top-community li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    font-size: 1.3rem;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    max-width: 200px;
    height: 160px;
    text-align: center;
    position: relative;
    top: 1px;
}

ul.top-community li a {
    display: block;
}

ul.top-community li a img {
    width: 10em;
    height: 10em;
}

.c-article form {
max-width: 30em;
padding: 0.5em;
margin: 0 auto;
}

.c-article .c-contents {
max-width: 750px;
width: 100%;
}

.c-article .cell-table {
display: table;
width: 100%;
}

.c-article .cell-table .item {
  display: table-cell;
  padding-right: 0.5em;
}

.c-article .cell-table .item input
{
  width: 100%;
}

.c-article .cell-table .item select
{
  width: 12em;
}

.form-group img {
    width: 100%;
}
